src/main/resources/logsys.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT logging (output, logger+)>
<!ELEMENT output (EMPTY)>
<!ATTLIST output type CDATA #REQUIRED>
<!ELEMENT logger (level,message) >
<!ELEMENT level (EMPTY)>
<!ATTLIST level
	value CDATA #REQUIRED
>
<!ELEMENT message (CDATA)>
<!ATTLIST message
	value CDATA #IMPLIED
>